{% comment %}
  Objective:
  Imagine you have a Shopify collection (for example, collections.featured.products), and each product contains multiple images.
  Your goal is to extract every image URL from every product and combine them into one flat array (i.e., a single list),
   similar to what flatMap does in other programming languages.
{% endcomment %}

<section>
  <h2>{{ section.settings.heading }}</h2>

  {% assign images_string = '' %}
  {% for product in collections.all.products %}
    {% for image in product.images %}
      {{ image.src }}
      {% assign images_string = images_string | append: image.src | append: ',' %}
    {% endfor %}
  {% endfor %}

  {{ images_string }}

  {% comment %} convert string to array {% endcomment %}
  {% assign images_array = images_string | split: ',' %}

  {{ images_array }}

  {% comment %} Loop over images_array {% endcomment %}
  <ul>
    {% for image in images_array %}
      {% unless image == '' %}
        <li>
          {% if image contains 'cdn.shopify.com' %}
            <img src="{{ image }}" alt="Product image">
          {% else %}
            <img src="{{ image | file_url }}" alt="Product image">
          {% endif %}
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</section>

{% schema %}
{
  "name": "Flat Map V2",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Flat Map practice with image url's"
    }
  ],
  "presets": [
    {
      "name": "Flat Map V2"
    }
  ]
}
{% endschema %}
