{{ 'component-image-with-text-custom.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .image-with-text-custom__grid {
    background-color: {{ section.settings.background_color }};
  }
{%- endstyle -%}

{%- comment -%} Parameters for responsive image {%- endcomment -%}
{%- comment -%}
  widths provides a list f pixel values that shopify will use to create versions of the image.
  When passed into the image_tag filter, Shopify generates a srcset attribute containing URLs for these various widths.
  The browser uses the srcset to choose the best image resolution based on the device’s screen size and pixel density. This helps optimize image loading and display on various devices.
{%- endcomment -%}
{%- comment -%}
  The sizes attribute tells the browser how wide the image will be displayed on the screen under different conditions.
  This is a hint for the browser to select the most appropriate image from the srcset.
{%- endcomment -%}
{%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
{%- endcapture -%}

{% assign icon_output = '' %}
{% assign heading_output = '' %}

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'icon' %}
      {% capture icon_output %}
        {%- render 'icon-accordion', icon: block.settings.icon -%}
      {% endcapture %}
    {% when 'heading' %}
      {% capture heading_output %}
        <h2 class="image-with-text-custom__heading h1">{{ block.settings.heading }}</h2>
      {% endcapture %}
  {% endcase %}
{% endfor %}

<div class="image-with-text-custom page-widt section-{{ section.id }}-padding">
  <div class="image-with-text-custom__grid grid grid--1-col grid--2-col-tablet{% if section.settings.mobile_layout_row %} grid--2-col{% endif %}">
    <div class="image-with-text-custom__media-item grid__item">
      <div class="image-with-text-custom__media media image-with-text-custom__media--{{ section.settings.height }}">
        {% if section.settings.image != blank %}
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag: loading: 'lazy', sizes: sizes, widths: widths
          }}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
    <div class="image-with-text-custom__content-item grid__item image-with-text-custom__media-item--{{ section.settings.desktop_content_position }}">
      <div class="image-with-text-custom__content">
        <div class="image-with-text-custom__heading-wrapper">
          {{ icon_output }}
          {{ heading_output }}
        </div>
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'text' %}
              <div class="image-with-text-custom__text rte">
                {{ block.settings.text }}
              </div>
            {% when 'button' %}
              {% if block.settings.button_link != blank %}
                <a
                  href="{{ block.settings.button_link }}"
                  class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{ block.settings.button_label | escape }}
                </a>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text-custom.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text-custom.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt",
      "label": "Image height"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#ffffff",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle",
      "label": "Desktop content position"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "checkbox",
      "id": "mobile_layout_row",
      "default": false,
      "label": "Use mobile row layout"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.image-with-text-custom.blocks.icon.settings.icon.label"
        },
        {
          "type": "text",
          "id": "icon_alt",
          "label": "Alt Text"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading Block",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image with text custom",
          "label": "t:sections.image-with-text-custom.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text Block",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Enter your text here...</p>",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            }
          ],
          "default": "body",
          "label": "Text Style"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button Block",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Click Here",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Use outline button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text Custom"
    }
  ]
}
{% endschema %}
